extends layout

block content
  .container
    form(action="/summoner/stats" method="GET")
     .form-group
       label(for="name") Name
       input(class="form-control", name="name", type="text", placeholder="Enter a summoner name")
     .form-group
       button(type="submit", class="btn btn-default") Summon stats!
